*{
    box-sizing: border-box;
}
body{
    width: 80%;
    margin: 50 auto;
}
.block{
    width: 100px;
    height: 100px;
    text-align: center;
    float: left;
    background: grey;
    padding-top: 25px;
    margin: 0 auto;
}
.block:hover{
    color: white;
    background: red;
}